*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container{
    display: flex;
    justify-content: space-between;

}

.main-columns{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;



    gap: 16px;

    padding: 25px 34px;

    overflow: scroll;
    height: 100%;
}

